@media only screen and (max-width: 1000px) {
  .col3-layout .col-right {
    float: left;
    clear: left;
    padding-left: 0;
    padding-right: 10px;
    width: 25%;
  }
  .col3-layout .col-wrapper {
    float: right;
    width: 100%;
  }
  .col3-layout .col-wrapper .col-main {
    float: right;
    width: 75%;
  }
  .col3-layout .col-wrapper .col-left {
    width: 25%;
  }
}
