@media only screen and (max-width: 1279px) {
  .toolbar .view-mode > label {
    display: none;
  }
  
  .products-list .product-shop .product-primary,
  .products-list .product-shop .desc {
    float: left;
    width: 60%;
    padding-right: 20px;
  }
  .products-list .product-shop .product-secondary {
    float: right;
    width: 40%;
  }
}
