@media only screen and (max-width: 770px) {
  .sidebar .block:not(.block-layered-nav) {
    margin-bottom: 0;
  }
  .sidebar .block:not(.block-layered-nav) .block-title {
    padding: 0;
    margin-top: 0;
    border-bottom: none;
    border-top: none;
    margin-bottom: 0;
  }
  .sidebar .block:not(.block-layered-nav) .block-title > strong {
    margin: 0;
    margin-bottom: 10px;
    color: #636363;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: normal;
    margin-bottom: 0px;
    padding: 7px 10px 7px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    position: relative;
    background-color: #f4f4f4;
    display: block;
    width: 100%;
    cursor: pointer;
    border-bottom: 0;
  }
  .sidebar .block:not(.block-layered-nav) .block-title > strong:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #3399cc;
    border-right: none;
    left: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .sidebar .block:not(.block-layered-nav) .block-title > strong:hover {
    background-color: #ececec;
  }
  .sidebar .block:not(.block-layered-nav) .block-title.active > strong {
    margin: 0;
    margin-bottom: 10px;
    color: #636363;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: normal;
    margin-bottom: 0px;
    padding: 7px 10px 7px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    position: relative;
    background-color: #f4f4f4;
  }
  .sidebar .block:not(.block-layered-nav) .block-title.active > strong:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #3399cc;
    border-bottom: none;
    left: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .sidebar .block:not(.block-layered-nav) .block-title.active > strong:hover {
    background-color: #ececec;
  }
  .sidebar .block:not(.block-layered-nav) .block-content {
    padding: 10px;
    margin-top: 0;
    border-width: 0 1px;
    border-style: solid;
    border-color: #cccccc;
  }
  .sidebar .block:last-of-type {
    border-bottom: 1px solid #cccccc;
  }

  
  .col2-set .buttons-set .button,
  .col2-set .buttons-set .button2 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .col2-set .buttons-set .back-link {
    display: none;
  }
  .col2-set .buttons-set .required {
    display: none;
  }

  
  .breadcrumbs {
    display: none;
  }

  
  .col-left,
  .col-right,
  .col-main,
  .col1-layout .col-left,
  .col1-layout .col-right,
  .col1-layout .col-main,
  .col2-left-layout .col-left,
  .col2-left-layout .col-right,
  .col2-left-layout .col-main,
  .col2-right-layout .col-left,
  .col2-right-layout .col-right,
  .col2-right-layout .col-main,
  .col3-layout .col-wrapper .col-left,
  .col3-layout .col-right,
  .col3-layout .col-wrapper .col-main {
    padding: 0;
    margin-bottom: 10px;
    float: none;
    width: auto;
  }

  .col3-layout .col-wrapper {
    float: none;
    width: auto;
  }

  .col-main {
    float: none;
    width: auto;
  }

  .col-main .col-left {
    padding: 0;
    /* On product listing pages, the left column gets moved inside col-main on small viewports */
  }

 
  .col2-set .col-1,
  .col2-set .col-2 {
    padding: 10px;
  }

  
  body .product-img-box .product-image:hover {
    border-color: #ededed;
  }


  .col1-layout .sorter,
  .col1-layout .pager {
    width: 100%;
  }
  .col1-layout .pager {
    float: left;
    clear: both;
  }
  .col1-layout .pager .pages {
    float: left;
    margin-left: 0;
  }
  .col1-layout .pager .count-container {
    float: right;
  }


  .header-language-background {
    display: none;
  }


  .skip-link {
    border-right: 1px solid #EDEDED;
  }

  .skip-link:last-child {
    border-right: 0;
  }


  .skip-link.skip-active {
    background: #EDEDED;
    color: inherit;
  }

  .skip-link.skip-active span {
    color: inherit;
  }


  #header-account li a,
  .nav-primary a.level0 {
    padding: 0 15px 0 25px;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    color: #636363;
    text-transform: uppercase;
    line-height: 30px;
  }

  #header-account li:last-child a,
  .nav-primary li.level0:last-child a.level0 {
    border-bottom: 0;
  }

  .no-touch #header-account a:hover,
  .no-touch .nav-primary a:hover {
    background-color: #f4f4f4;
    text-decoration: none;
  }


  .account-cart-wrapper {
    position: static;
  }


  #header-nav {
    padding: 5px 0;
  }


  .nav-primary a.level0,
  .nav-primary a {
    line-height: 35px;
  }
  .nav-primary li.level0 ul {
    display: none;
  }
  .nav-primary li.level0 li {
    padding: 0 0 0 25px;
  }
  .nav-primary li.level1 a {
    padding: 0 15px 0 25px;
  }
  .nav-primary li.parent > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #cccccc;
    border-right: none;
    top: 50%;
    left: 10px;
    right: auto;
    margin-top: -5px;
  }
  .nav-primary li.parent.sub-menu-active > a:after,
  .nav-primary li.parent.menu-active > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #cccccc;
    border-bottom: none;
    top: 50%;
    left: 10px;
    right: auto;
    margin-top: -5px;
  }
  .nav-primary li.menu-active > a,
  .nav-primary li.sub-menu-active > a {
    color: #3399cc;
  }


  .footer .form-language,
  .footer .currency-switcher {
    display: block;
  }


  .sidebar .block.block-layered-nav {
    border-bottom: none;
  }

  .block-layered-nav--no-filters .block-title {
    display: none;
  }

  .block-layered-nav .block-content {
    padding-top: 0;
    margin-top: 15px;
  }
  .block-layered-nav .block-content > dl > dt {
    cursor: pointer;
    border-bottom-width: 0;
  }
  .block-layered-nav .block-content > dl > dt:hover {
    color: #3399cc;
  }
  .block-layered-nav .block-content > dl > dt:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #3399cc;
    border-right: none;
  }
  .block-layered-nav .block-content > dl > dt.last {
    border-bottom-width: 1px;
  }
  .block-layered-nav .block-content > dl > dd {
    display: none;
  }
  .block-layered-nav .block-content.accordion-open > dl > dt.current {
    border-bottom-width: 1px;
  }
  .block-layered-nav .block-content.accordion-open > dl > dt.current:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #3399cc;
    border-bottom: none;
    left: 6px;
    top: 50%;
    margin-top: -3px;
  }
  .block-layered-nav .block-content.accordion-open > dl > dd.current {
    display: block;
  }

  .block-layered-nav .block-subtitle--filter {
    background-color: #3399cc;
    border: 0;
    margin-bottom: 0;
    display: block;
    color: #FFFFFF;
  }
  .block-layered-nav .block-subtitle--filter:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
    border-right: none;
    right: 10px;
    top: 50%;
    margin-top: -5px;
  }
  .block-layered-nav .block-subtitle--filter:hover {
    background-color: #2e8ab8;
    color: #FFFFFF;
  }
  .block-layered-nav .block-subtitle--filter.active:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid white;
    border-bottom: none;
    right: 10px;
    top: 50%;
    margin-top: -3px;
  }

  #narrow-by-list,
  #narrow-by-list2 {
    padding: 10px;
    border: 1px solid #cccccc;
    border-top: 0;
  }

  .block-layered-nav dl ol > li > a,
  .block-layered-nav dl ol > li > span {
    padding: 7px;
    margin: 5px;
  }

  .block-layered-nav dl ol > li > a {
    color: #636363;
    background-color: #f4f4f4;
    padding: 5px 10px;
  }
  .block-layered-nav dl ol > li > a:hover {
    text-decoration: none;
    background: #ececec;
  }


  .product-view .add-to-cart-wrapper {
    float: none;
    width: 100%;
    clear: both;
  }
  .product-view .product-shop .price-box .price-excluding-tax .label,
  .product-view .product-shop .price-box .price-including-tax .label {
    font-size: 16px;
  }
  .product-view .product-shop .price-box .price-excluding-tax .price,
  .product-view .product-shop .price-box .price-including-tax .price {
    font-size: 20px;
  }


  .product-collateral .toggle-tabs {
    display: none;
  }
  .product-collateral > dl > dt {
    margin: 0;
    margin-bottom: 10px;
    color: #636363;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: normal;
    margin-bottom: 0px;
    padding: 7px 10px 7px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    position: relative;
    background-color: #f4f4f4;
    display: block;
  }
  .product-collateral > dl > dt:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #3399cc;
    border-bottom: none;
    left: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .product-collateral > dl > dt:hover {
    background-color: #ececec;
  }
  .product-collateral > dl > dd {
    padding: 10px;
    margin: 0;
    border-width: 0 1px;
    border-style: solid;
    border-color: #cccccc;
  }
  .product-collateral > dl > dd:last-child {
    border-width: 0 1px 1px 1px;
  }
  .product-collateral > dl > dt {
    cursor: pointer;
    border-bottom-width: 0;
  }
  .product-collateral > dl > dt:hover {
    color: #3399cc;
  }
  .product-collateral > dl > dt:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #3399cc;
    border-right: none;
  }
  .product-collateral > dl > dt.last {
    border-bottom-width: 1px;
  }
  .product-collateral > dl > dd {
    display: none;
  }
  .product-collateral.accordion-open > dl > dt.current {
    border-bottom-width: 1px;
  }
  .product-collateral.accordion-open > dl > dt.current:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #3399cc;
    border-bottom: none;
    left: 6px;
    top: 50%;
    margin-top: -3px;
  }
  .product-collateral.accordion-open > dl > dd.current {
    display: block;
  }


  .product-view .product-shop,
  .product-view .add-to-cart-wrapper,
  .product-view .block-related,
  .product-img-box,
  .product-collateral {
    width: 100%;
    float: none;
    padding-right: 0;
    padding-left: 0;
  }


  .map-popup {
    width: 100%;
    left: 0px !important;
  }


  .cart-table th {
    font-size: 12px;
  }
  .cart-table th,
  .cart-table td {
    padding: 7px 6px;
  }
  .cart-table .product-cart-actions > li {
    white-space: inherit;
  }


  .shipping .shipping-form .form-list > li {
    width: 100%;
    float: none;
  }
  .shipping .shipping-form .form-list > li label {
    display: block;
  }
  .shipping .shipping-form .form-list > li input,
  .shipping .shipping-form .form-list > li select {
    width: 100%;
  }


  .cart .cart-totals table tfoot td {
    font-size: 18px;
  }


  .opc #opc-login .description,
  .opc #opc-login p.required {
    display: none;
  }


  .gift-message-form .giftmessage-area {
    max-width: 100%;
  }
  .gift-message-form .gift-item .product-img-box {
    width: 100%;
    float: none;
  }
  .gift-message-form .gift-item .fieldset {
    margin-left: 0px;
  }
  .gift-message-form .gift-item .fieldset textarea {
    width: 100%;
  }


  #narrow-by-list dd .configurable-swatch-list li:nth-child(odd) {
    clear: left;
  }


  .customer-account-login .col2-set p.required {
    display: none;
  }


  .my-account .addresses-list .col-1,
  .my-account .addresses-list .col-2 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .my-account .addresses-list .col-1 li.empty,
  .my-account .addresses-list .col-2 li.empty {
    width: 100%;
  }


  body.customer-account .data-table.orders th.ship,
  body.customer-account .data-table.orders td.ship,
  body.customer-account .data-table.orders td.status,
  body.customer-account .data-table.orders th.status {
    display: none;
  }

  .order-info-box .box-content {
    clear: left;
  }

  .addresses-list .item {
    float: left;
    width: 50%;
    padding-right: 30px;
  }

  .order-info dt {
    display: none;
  }

  .dashboard .page-title {
    margin-top: 20px;
  }
  .dashboard .page-title h1 {
    margin-top: 0;
  }
  .dashboard .welcome-msg {
    font-family: Georgia, Times, "Times New Roman", serif;
  }
  .dashboard .welcome-msg .hello {
    font-style: italic;
  }
  .dashboard .box-account {
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  .dashboard .col2-set .col-1,
  .dashboard .col2-set .col-2 {
    width: 48%;
    padding-right: 0;
    padding-left: 0;
  }
  .dashboard .col2-set .col-1 {
    float: left;
    margin-right: 4%;
  }
  .dashboard .col2-set .col-2 {
    float: right;
  }

  .paypal-review-order .col-1 {
    padding-bottom: 0;
  }
  .paypal-review-order .field.inactive {
    display: none;
  }

 
  .bml-ad.small {
    display: block;
  }


  body.review-product-list .product-view .product-shop .price-info {
    padding-left: 0;
  }
  body.review-product-list .product-view .product-shop .extra-info {
    padding: 0;
    min-width: 84%;
  }
  body.review-product-list .product-view .product-shop .extra-info .ratings-table {
    margin: 10px 0;
    width: 100%;
  }
  body.review-product-list .product-view .product-shop .extra-info .ratings-table tr {
    margin-right: 15px;
  }
  

  .review-product-view .product-review .product-img-box {
    max-width: 100%;
  }


  #wishlist-table:after {
    content: '';
    display: table;
    clear: both;
  }
  #wishlist-table .product-name {
    font-size: 16px;
  }
  #wishlist-table textarea {
    height: 68px;
    max-width: 100%;
  }
  #wishlist-table .item-manage {
    max-width: 100%;
  }
  #wishlist-table tr {
    position: relative;
  }
  #wishlist-table tr:after {
    content: '';
    display: table;
    clear: both;
  }
  #wishlist-table td.customer-wishlist-item-image {
    width: 70px;
  }
  #wishlist-table td.customer-wishlist-item-image img {
    width: 70px;
    height: 70px;
  }
  #wishlist-table td.customer-wishlist-item-cart p {
    margin-bottom: 0;
  }
  #wishlist-table td.customer-wishlist-item-cart .remove-whishlist-item {
    margin-right: 0;
    padding-top: 4px;
  }
  #wishlist-table td.customer-wishlist-item-cart {
    padding-right: 15px;
  }


  .header-minicart {
    display: block;
  }


  .header-minicart .subtotal .label {
    color: #636363;
  }
  .header-minicart .minicart-wrapper:before {
    background-color: #EDEDED;
  }
  .header-minicart .quantity-button {
    float: none;
  }
  .header-minicart .header-minicart .block-cart {
    padding: 15px;
  }
  .header-minicart .header-minicart .block-subtitle {
    padding-top: 59px;
  }
  .header-minicart .minicart-actions {
    padding-bottom: 33px;
  }
  .header-minicart .minicart-actions .cart-link {
    bottom: 0;
    right: 10px;
    position: absolute;
  }
  .header-minicart .minicart-actions .checkout-types.minicart li {
    display: inline-block;
  }
  .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo > a {
    display: inline;
  }
  .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .bml_button {
    display: inline-block;
    vertical-align: top;
  }
  .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-or {
    width: auto;
    float: none;
    display: inline;
    margin: 0 10px 5px 10px;
    line-height: 40px;
  }


  #contactForm {
    padding-left: 0;
  }


  .notice-cookie {
    padding: 0 20px;
  }
  .notice-cookie .notice-text {
    max-width: 82%;
    padding-top: 0;
  }


  .tags-list > li,
  .tags-list {
    float: none;
  }


  body[class*="checkout-multishipping-"] .checkout-progress span {
    width: 12px;
  }
  body[class*="checkout-multishipping-"] .checkout-progress li {
    width: 100%;
    margin: 0;
    text-align: left;
    padding-left: 3%;
    border-right: 0px;
  }
  body[class*="checkout-multishipping-"] .checkout-progress span {
    word-spacing: 1px;
    width: 12px;
  }
  body[class*="checkout-multishipping-"] .box-title {
    float: left;
    width: 100%;
  }
  body[class*="checkout-multishipping-"] .page-title .button {
    float: left;
    margin-bottom: 10px;
  }
  body[class*="checkout-multishipping-"] .linearize-table tfoot td {
    text-align: right;
  }
  body[class*="checkout-multishipping-"] .linearize-table select {
    width: 100%;
    min-width: 200px;
  }
  body[class*="checkout-multishipping-"] .col-1.col-narrow, body[class*="checkout-multishipping-"] .col-2.col-wide {
    width: 100%;
    padding: 0;
  }
}
