@media only screen and (min-width: 1199px) {
  .col2-left-layout .col-main .widget,
  .col2-right-layout .col-main .widget,
  .col3-layout .col-main .widget {
    /* Config: Columns + flexible gutter */
    /* Undo three-column config */
    /* Set column config */
    /* Config: Columns + flexible gutter */
    /* Undo three-column config */
    /* Set column config */
  }
  .col2-left-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(odd),
  .col2-right-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(odd),
  .col3-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(odd) {
    clear: none;
  }
  .col2-left-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(3n+1),
  .col2-right-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(3n+1),
  .col3-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(3n+1) {
    clear: none;
  }
  .col2-left-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(even),
  .col2-left-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(3n),
  .col2-right-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(even),
  .col2-right-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(3n),
  .col3-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(even),
  .col3-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(3n) {
    margin-right: 2.22222%;
  }
  .col2-left-layout .col-main .widget .products-grid--max-4-col-widget > li,
  .col2-right-layout .col-main .widget .products-grid--max-4-col-widget > li,
  .col3-layout .col-main .widget .products-grid--max-4-col-widget > li {
    margin-right: 2.22222%;
  }
  .col2-left-layout .col-main .widget .products-grid--max-4-col-widget > li,
  .col2-right-layout .col-main .widget .products-grid--max-4-col-widget > li,
  .col3-layout .col-main .widget .products-grid--max-4-col-widget > li {
    width: 23.33333%;
    margin-right: 2.22222%;
  }
  .col2-left-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(4n+1),
  .col2-right-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(4n+1),
  .col3-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(4n+1) {
    clear: left;
  }
  .col2-left-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(4n),
  .col2-right-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(4n),
  .col3-layout .col-main .widget .products-grid--max-4-col-widget > li:nth-child(4n) {
    margin-right: 0;
  }
  .col2-left-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(odd),
  .col2-right-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(odd),
  .col3-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(odd) {
    clear: none;
  }
  .col2-left-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(3n+1),
  .col2-right-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(3n+1),
  .col3-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(3n+1) {
    clear: none;
  }
  .col2-left-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(even),
  .col2-left-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(3n),
  .col2-right-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(even),
  .col2-right-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(3n),
  .col3-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(even),
  .col3-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(3n) {
    margin-right: 2.22222%;
  }
  .col2-left-layout .col-main .widget .products-grid--max-5-col-widget > li,
  .col2-right-layout .col-main .widget .products-grid--max-5-col-widget > li,
  .col3-layout .col-main .widget .products-grid--max-5-col-widget > li {
    margin-right: 2.22222%;
  }
  .col2-left-layout .col-main .widget .products-grid--max-5-col-widget > li,
  .col2-right-layout .col-main .widget .products-grid--max-5-col-widget > li,
  .col3-layout .col-main .widget .products-grid--max-5-col-widget > li {
    width: 18.22222%;
    margin-right: 2.22222%;
  }
  .col2-left-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(5n+1),
  .col2-right-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(5n+1),
  .col3-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(5n+1) {
    clear: left;
  }
  .col2-left-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(5n),
  .col2-right-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(5n),
  .col3-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(5n) {
    margin-right: 0;
  }
}
