@media only screen and (min-width: 500px) {
  .skip-link {
    width: 25%;
  }


  .skip-link .icon {
    margin-right: 3px;
  }


  .skip-link .label {
    display: inline;
  }


  .skip-nav {
    width: 25%;
  }
}
